/*---------------------------------------importation des polices------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Rubik:wght@300;400;500;600;700;800&display=swap');


/* ----------------------------page generale-----------------------------*/

*{
   
    margin: 0;
    padding: 0;
   
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
  }

  :root
  {
    --bg-color:#171717;
    --text-color:#ffffff;
    --main-color:#ca8205;

    --big-font:5rem;
    --p-font:1rem;
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
    font-family: 'rubik';
    font-size: 2.5rem;
}
#section1,#section2,#section3,#section4, header footer{
    margin-bottom: 20px;

  max-width: 100%;
  overflow-x: hidden;
  



}

body{
    font-family: "roboto" ,"arial";
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
   /* width: 100%;*/
   box-sizing: border-box;
    overflow-x: hidden;
  

   

   
}




img{
    max-width: 100%;
    height: auto;
}
/*section{
    padding: 65px 0 80px 0;
}
section .heading{
   text-align: center;
   padding-bottom: 40px;

}*/

.divider{
    width:40%;
    height: 1px;
    background-color: var(--text-color);
    margin: 0 auto 20px;
}
.divider.white{
    background-color: white;
}

/*ul{
    list-style: none;
}

/*--------------------------*navbar------------------------------------------ */
header
{
    position: fixed;
    top: 0;
    width: 100%;
   z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 10%;
    background:var(--bg-color);
    transition: all ease .45s;
    margin-bottom: 10px;

    

    
}
.logo 
{
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
}

.logo span{
    color: var(--main-color);
    text-transform: uppercase;
    font-size:41px;
    font-weight: 600;
}

.navbar
{
    display: flex;


}
 .navbar a
 {
     font-size: var(--p-font);
     font-weight: 400;
     color: var(--text-color);
     margin: 0 25px;
     
     transition: all ease .60s;
    }
    
    .navbar a:hover{
        color: var(--main-color);
    }
    .navbar a.active
    {
        color: var(--main-color);
    }
    .menu-btn{
        
        display:none;
        align-items: center;
    }
    
    #menu-icon
    {
    cursor: pointer;
    font-size:50px;
    margin-left: 5px;
    z-index: 6;
 }



/* -------------------------------------premiere section page d'accueil---------------------------------------------------------*/


.home
{
    position:relative;
     padding: 8% 15%;
    transition: .2S;
  
    
   width: 100%;
   /* min-height: 100vh;*/
    overflow-x: hidden;
    margin-top: 2%;
    margin-bottom:1%;
  


    gap: 20px;
    
    
   
    display: flex;
    align-items: center;
    justify-content: space-between;

 }

 .home-img{
    width: 440px;
    height: 450px;
 }

 
 .home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
    box-shadow: 2px 2px 7px 7px black;
 }

 .home-text{
    text-align: center;
   /* padding-left:30px;*/
   
 }

 .home-text h2{
    padding: 15px 25px;
    margin-top: 2px;
   
    text-align:center;
   
    color: var(--text-color);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
 }
 .home-text h2 span 
 {
    color: var(--main-color);
    font-size: 26px;
    

 }

 .home-text h1
 {
    font-size: var(--big-font);
    margin: 13px 0;
 }
 .home-text p
 {
    font-size: var(--p-font);
    font-weight: 500;
    color: #c3c3c3;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
 }
 .home-text .btn0{
    text-align: center;
 }

 .btn{
   /* display: inline-block;*/
    padding: 14px 34px;
    text-align: center;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 22px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
 }
 .btn:hover{
    transform: translateX(4px);
    background: transparent;
    color: var(--main-color);
 }

 /**partage */

 .home .home-text .partage
 {
 
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .social i
 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: linear-gradient(130.08deg,#000000 0% ,#7c7b79 100%);
    
     border: 1px solid #3b3b3b;
     border-radius: 50%;
     color: var(--text-color);
     font-size: 20px;
     margin: 0 7px;
     transition: all .6s ease-in-out;
 }
 .social i:hover{
    transform: translateY(-10px);
    background: var(--main-color);
    border: 1px solid #3b3b3b;
 }

 /**---------------------------------------section apropos------------------------------------------------------- */




.a-propos{
    width: 100%;
    padding: 70px 0px;
 
}

.imag{
    height: 450px;
    width: 340px;
}

.a-propos-text{
width: 650px;
}

.main{
   width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 60px;

}

.a-propos h2{
    color: var(--main-color);
}

.biographie-1{

    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
   
}
.biographie-1 span{
    color: var(--main-color);
}
.biographie-2{
    letter-spacing:1px ;
    line-height: 20px;
    font-size: 15px;
   text-align: left;
}
 /* ------------------------------section 2 competences-------------------------------*/

#section2{
    width: 100%;
}

#section2 h2{
    color: var(--main-color);
    margin-bottom: 10px;
}

.LaGrid2 
{
   
    display: flex;
    justify-content: center;
    gap: 50px;
}
#section2 .cadre
{
    position: relative;
    width: 250px;
    height: 300px;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 40px;
}
.cadre:before
{
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: #fff;
    z-index: -1;
}
.cadre:after
{
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(4px);
}

.cadre:before,
.cadre:after
{
    background: linear-gradient(230deg,var(--main-color),var(--bg-color),var(--main-color));
}


#section2 .cadre .glass
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background-color: rgba(79, 78, 78, 0.1);
    pointer-events: none;
}


#section2  .cadre .pourcentage
{
    position: relative;
    height: 150px;
    width: 150px;
}


#section2  .cadre .pourcentage svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg); 
}
 #section2 .pourcentage svg circle
 {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 5;
    stroke: #0c0c0c;
    transform: translate(5px,5px);   
}
#section2 .cadre .pourcentage svg circle:nth-child(2)
{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440* var(--numero))/100);
    
    /* ---animation qui permet de faire apparaitre les niveaux de competence*/

    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay:2.5s ;
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.point
{
    position: absolute;
    inset: 5px;
    z-index: 1;
    transform: rotate(calc(3.6deg * var(--numero)));
    animation: animatePoint 2s linear forwards;
}
@keyframes animatePoint
{
    0%
    {
        transform:rotate(0deg)
    }
    100%
    {
        transform:rotate(calc(3.6deg * var(--numero)));
    }
        
}


.point::before
{
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    background: var(--clr);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);

}

.cadre .text
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cadre .text h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--man-color);
    font-weight: 700;
    font-size: 2.5em;
    /* animation qui permet de faire apparaitre les elements*/
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay:2.5s ;
    
}
.cadre .text h3 span
{
    font-weight: 300;
    font-size: 0.5em;
}

.cadre .text h4
{
    font-weight: 300;
    font-size: 0.9em;
    line-height: 2px;
    margin-top: 5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    /* animation qui permet de faire apparaitre les elements*/
    opacity:0;
    animation: fadeIn 1s linear forwards;
    animation-delay:2.5s ;
}



/**--------------------------------------------section 3--------------------------------------------------*/




#section3
{
    background-color: var(--bg-color);
    width: 100%;
   
}
.education{
    width: 100%;
    display: flex;
    justify-content: center;
}
#section3 .heading h2
{
    color: var(--main-color);
    margin: 25px 0px;
    margin-bottom: 25px;
}
.education-block
{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding:40px;
    background:var(--bg-color);
    border-radius:5px ;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    color: rgb(157, 154, 154);
    font-size: var(--p-font);
}
.education-block div{
    font-size: 17px;
}

.education-block span
{
    font-size: 40px;
}
.education-block h3
{
    color: var(--main-color);
    margin:15px 0 ;
    font-weight: normal;
}
.divider1
{
    width: 150px;
    height: 2px;
    background-color: rgb(0, 204, 255);
    margin: 0 auto 10px;
    margin-top: 10px;
}




/*------------------------------------------section---------------------------------------- 4*/
#Ssection4{
    width: 100%;
}

#section4 .heading 
{
    color: var(--main-color);
    margin-bottom: 30px;
}
.anime1 ,.anime2{
    display: flex;
    justify-items: center;
  
}
 


article:hover
 {
    filter: none;
    -webkit-filter: none;
 }

#section4 .col-md-4
 {
    margin-bottom: 20px;
  
 }
 article{
    background-position: center;
    
    width: 370px;
    height: 280px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 7px black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  

}
/* article:first-child{
    margin-right: 30px;
}*/
.overlay{
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.overlay h4{
    border-bottom: 1px solid rgb(15, 15, 15);
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    text-shadow: 1px 2px black;
    text-transform: uppercase;
    color: var(--main-color);
}

.overlay p{
    text-align: center;
    margin-bottom: 15px;
    color: #000000;
    font-weight:1000;
    font-size: 21px;
}

.botton-2{
    color: #e2dbdb;
    background-color:  rgb(255, 145, 0);
    padding: 6px 20px;
    border-radius: 3px;
    font-weight: bolder;
}
.botton-2:hover{
    background-color: rgb(165, 10, 10);
    font-weight: bolder;
    

}


 
 
 /*formulaire de contact*/
.section5{
    background :var(--bg-color) ;
    width: 100%;
    
}
.section5 h2{

    color: var(--main-color);
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.container{
   width: 80%;
   padding: 20px;

}
.container .row2{
    position: relative;
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}
.container .row2 .col{
    position: relative;
    width: 100%;
    height: 150%;
    padding: 0 10px;
    margin: 10px 0 10px;
    transition:  0.5s;
}

.container .row2 .inputBox{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 10px;
}
.container .row2 .inputBox input 
{
    position: absolute;
    width: 100%;
    height: 50px;
    background: #ffffff;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 0px;
    
    
}
.container .row2 .textarea textarea
{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #ffffff;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 22px;
    padding: 10px 10px;
    border-radius: 0px;

  
  
}

/*#messageErreur{
    margin-top: 50px;
   
}

#nomErreur,#prenomErreur,#emailErreur,#phoneErreur,#messageErreur{

    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
}*/




.blue {
    color: #0069d6;
}

.form-label{
    color: var(--main-color);
    font-size: 20px;
}









input[type='submit']
{
    margin-top: 50px;
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: var(--main-color);
    color: #000;
    font-size: 18px;
    border-radius: 2px;
    
}


/*-----------------------------------section footer-------------------------- */



footer
{
   width: 100%;
 
   background-color: #333;
   padding: 20px 0 40px;
   text-align: center;
   bottom: 0;
 
}
footer h4
{
   color: white;
   font-weight: bold;
}
footer a span
{
   color: var(--main-color);
   font-size: 25px;
   line-height: 35px;
}
footer span:hover
{
   font-size: 30px;
}
footer .partage{
    display: none;
}

 /**media pour le resolution d'ecran */

 @media  (max-width: 2000px){
    body{
        box-sizing: border-box;
        overflow-x: hidden;
      
    }
    :root{
        --bg-font:5rem;
        --p-font:1rem;
        transition: .2s;
    }
    header{
        padding: 15px 10%;
        transition: .2s;
        
    }
    .home{
        padding: 10% 10%;
        margin-bottom: 2%;

       margin-top:  5%;
        transition: .2S;
    }
    .btn{
       display: inline-block;
        padding: 10px 30px;
        background: var(--main-color);
        color: var(--text-color);
        border: 2px solid var(--main-color);
        font-size: 15px;
        font-weight: 400;
        border-radius: 8px;
        transition: all 0.6s ease-in-out;
     }
     .social i
    {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: 33px;
       width: 33px;
       background: linear-gradient(130.08deg,#000000 0% ,#7c7b79 100%);
       
        border: 1px solid #3b3b3b;
        border-radius: 50%;
        color: var(--text-color);
        font-size: 15px;
        margin: 0 5px;
        transition: all .6s ease-in-out;
    }
    
    .partage{
    
        transition: .2s;
        margin-top:20px;
    }

    article{
  
        width: 355px;
        height: 300px;
        margin-right: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 7px 7px black;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      
    
    }
 

 }

 @media  (max-width: 1400px){
    body{
      width: 100%;
        
        overflow-x: hidden;
      
    }
    header{
        padding: 15px 3%;
        transition: .2s;
   

       
       
      
    }
   /* section, header,footer{
        margin-bottom: 20px;
    
      max-width: 100%;
      overflow-x: hidden;
    
    
    
    }*/
    .logo 
{
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
}

.logo span{
    color: var(--main-color);
    text-transform: uppercase;
    font-size:38px;
    font-weight: 600;
}

.navbar
{
    display: flex;


}
 .navbar a
 {
     font-size: var(--p-font);
     font-weight: 400;
     color: var(--text-color);
     margin: 0 15px;
     
     transition: all ease .60s;
    }
    
    .home{
        padding: 8% 10%;
        transition: .2S;
       /* height: max-content;*/
              
    }
    .home-img{
        margin-top: 10px;
        width: 400px;
        height: 400px;
     }
     .btn{
        display: inline-block;
        padding: 10px 30px;
        background: var(--main-color);
        color: var(--text-color);
        border: 2px solid var(--main-color);
        font-size: 15px;
        font-weight: 500;
        border-radius: 8px;
        transition: all 0.6s ease-in-out;
     }


    .partage{
      
        margin-top: 12px;
        transition: .2s;
    }
    .social i
    {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: 40px;
       width: 40px;
       background: linear-gradient(130.08deg,#000000 0% ,#7c7b79 100%);
       
        border: 1px solid #3b3b3b;
        border-radius: 50%;
        color: var(--text-color);
        font-size: 15px;
        margin: 0 5px;
        transition: all .6s ease-in-out;
    }
  
    :root{
        --bg-font:3rem;
        --p-font:0.95rem;
        transition: .2s;
    }

    /**-----------------apropos------------------- */
    
.main .imag{
    width: 320px;
    height: 440px;
}
.biographie-1{

    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 40px;
    letter-spacing: 1.5px;
  text-align: center;
}
.biographie-1 span{
    color: var(--main-color);
}
.biographie-2{
    letter-spacing: 1px;
    line-height: 23px;
    font-size: 20px;
    text-align: left;
  
}




    #section2 .cadre
    {
        position: relative;
        width: 200px;
        height: 250px;
        background-color:var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 40px;
    }

    footer{
       width: 100%;
    }

    article{
  
        width: 280px;
        height: 240px;
        margin-right: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 7px 7px black;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      
    
    }
    article h4{
        font-size: 15px;
    }

    article p small{
        font-size: 15px;
    }

 }



 @media (max-width: 1118px){
    body{
        box-sizing: border-box;
        overflow-x: hidden;
        
      
    }
   .navbar a{
        margin: 0 15px;
   }
   :root{
    --bg-font:2rem;
    --p-font:0.95rem;
    transition: .2s;
    }
    .home .home-text .partage{
      
        margin-top: 12px;
        transition: .2s;
    }
    .home-img{
        height: 400px;
        width: 350px;
    }
    .home-img img{
       
        width: 100%;
        height: 100%;
    }
    .home{
        padding: 7% 7%;
       /* height: 110vh;*/
    }
    .btn{
       /* display: inline-block;*/
        padding: 8px 25px;
        background: var(--main-color);
        color: var(--text-color);
        border: 2px solid var(--main-color);
        font-size: 20px;
        font-weight: 500;
        border-radius: 8px;
        transition: all 0.6s ease-in-out;
     }


    .social i
    {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: 40px;
       width: 40px;
       background: linear-gradient(130.08deg,#000000 0% ,#7c7b79 100%);
       
        border: 1px solid #3b3b3b;
        border-radius: 50%;
        color: var(--text-color);
        font-size: 20px;
        margin: 0 5px;
        transition: all .6s ease-in-out;
    }
    .home-text h2{
       text-align: center;
        margin-top: 2px;
       
       
       
        color: var(--text-color);
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
     }

     /**-------------------apropos--------------------------- */
     
.main .imag{
    width: 300px;
    height: 400px;
    margin-left: 5px;
}
.biographie-1{

    font-size:30px;
    text-transform: capitalize;
    margin-bottom: 40px;
    letter-spacing: 1px;
    text-align: center;
}
.biographie-1 span{
    color: var(--main-color);
}
.biographie-2{
    letter-spacing: 1px;
    line-height: 24px;
    font-size: 18px;
    text-align: left;
}
article{
  
    width: 230px;
    height: 260px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 4px 4px black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  

}
article h4{
    font-size: 14px;
}

article p small{
    font-size: 14px;
}

}

 
 @media  (max-width: 980px){
    :root{
        --bg-font:1rem;
        --p-font:0.95rem;
        transition: .2s;
    }
    
   .home .home-text .partage{
        margin-top: 12px;
        font-size: 15px;
        font-weight: 600;
    }
    .partage .social i{
        height: 35px;
        width: 35px;
        font-size: 20px;

    }
    .home-text h1
    {
       font-size: var(--big-font);
       text-align: center;
      
    }
    .btn{
        display: inline-block;
        padding: 5px 15px;
        background: var(--main-color);
        color: var(--text-color);
        border: 2px solid var(--main-color);
        font-size: 20px;
        font-weight: 300;
        border-radius: 8px;
        transition: all 0.6s ease-in-out;
     }
     .home-text h2{
       
        margin-top: 2px;
       
        text-align:center;
       
        color: var(--text-color);
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
     }
    .social i
    {
       display: inline-flex;
       align-items: center;
       justify-content: center;
       height: 20px;
       width: 20px;
       background: linear-gradient(130.08deg,#000000 0% ,#7c7b79 100%);
       
        border: 1px solid #3b3b3b;
        border-radius: 50%;
        color: var(--text-color);
        font-size: 10px;
        margin: 0 5px;
        transition: all .6s ease-in-out;
    }

    .home{
        padding: 8% 2%;
       /* height: 100vh;*/
    }
    header{
        padding: 4px 8%;
        background: #2d2d2d;
       
    }
 
    .home-img{
       
        height: 370px;
        width: 320px;
    }
    .home-img img{
       
        width: 100%;
        height: 100%;
        
    }

    /*----------------------------------*apropos-------------------- */
    

.main .imag{
    width: 280px;
    height: 400px;
    margin-left:10px;
}
.biographie-1{
    padding:auto;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    text-align: center;
}
.biographie-1 span{
    color: var(--main-color);
}
.biographie-2{
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 18px;
    text-align: left;
}
   /* ------------------------------section 2 competences-------------------------------*/

#section2 h2{
    color: var(--main-color);
    margin-bottom: 10px;
}

.LaGrid2 
{
   
    display: flex;
    justify-content: center;
    gap: 25px;
}
#section2 .cadre
{
    position: relative;
    width: 200px;
    height: 250px;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px;
}
article{
  
    width: 205px;
    height: 250px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 4px 4px black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  

}
article h4{
    font-size: 15px;
}

article p small{
    font-size: 15px;
}

}

 
  
  @media  (max-width: 850px){

    header{
        padding: 1% 4%;
    }
   .home  .home-text .partage{

        display: none;
      /*margin-left: 12%;
     
        margin-top: 12px;*/
       
        
        
    }
footer .partage{

      /* position: absolute;
       
       margin-top: 15px;
      
       /*left: 11.5%;*/
       display: flex;
       align-items: center;
       justify-content: center;
   
    }
    .social i{
        height: 40px;
        width: 40px;
        font-size: 20px;
    }

    
    .navbar{
        position: absolute;
        width: 25%;
        height: 350px;
        padding: 50px 10px;
        top:0;
        bottom: 0;
        margin-bottom: 40px;
        right:-100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }
 
    .menu-btn
    {
   
     display: flex;
     align-items:  baseline;
    }
    #menu-icon
    {
    cursor: pointer;
    font-size: 50px;
    margin-left: 5px;
    color: var(--main-color);
    z-index: 6;
    }
    .navbar a{
        display: block;
        color: #c3c3c3;
        padding: 0px 0px 8px 0px;
        font-size: 0.90rem;
        font-family: 100;
    }

    .navbar.open{
        right: 0;
    }

 
        
    .home-img{
        height: 400px;
        width: 350px;
        margin-top: 30px;
    }
    .home{
        padding: 10% 5%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home-text{
      order: 2;

    }
    footer{
        width:100%;
    }
   
    .btn{
       
        text-align: center;
        background: var(--main-color);
        color: var(--text-color);
        border: 2px solid var(--main-color);
        font-size: 20px;
        font-weight: 500;
        border-radius: 8px;
        transition: all 0.6s ease-in-out;
        
     }
   /*  .social i
     {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        background: linear-gradient(130.08deg,#000000 0% ,#7c7b79 100%);
        
         border: 1px solid #3b3b3b;
         border-radius: 50%;
         color: var(--text-color);
         font-size: 12px;
         margin: 0 4px;
         transition: all .6s ease-in-out;
     }*/

     /**--------------------------apropos--------------------------------- */
     
.imag{
    height: 500px;
    width: 400px;
    margin-bottom: 15px;
    
}

.a-propos-text{
width: 100%;
order: 2;
}

.main{
    padding: 10% 5%;
 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;

}


.biographie-1{

    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-align: center;
}
.biographie-1 span{
    color: var(--main-color);
}
.biographie-2{
    letter-spacing: 1px;
    line-height: 23px;
    font-size: 20px;
    text-align: left;
}
#section2 h2{
    color: var(--main-color);
    margin-bottom: 10px;
}

.LaGrid2 
{
   
    display: flex;
    justify-content: center;
    gap: 25px;
}
#section2 .cadre
{
    position: relative;
    width: 180px;
    height: 230px;
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px;
}


:root{
        
    --bg-font:1.5rem;
    --p-font:1rem;
    transition: .2s;
}

article{
  

    width: 185px;
    height: 230px;
  
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 4px 4px black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  

}
article h4{
    font-size: 14px;
}

article p small{
    font-size: 13px;
}

    


}

@media  (max-width: 767px){
 
    #section2 .cadre
    {
        position: relative;
        width: 230px;
        height: 250px;
        background-color:var(--bg-color);
        display: flex;
        justify-content: center;
        
        margin: 10px;
    }
    
    #section4 .container , #section2 .container-fluid{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

  
    article{
      
  
        width: 250px;
        height: 250px;
      
        border-radius: 10px;
        box-shadow: 1.5px 1.5px 4px 4px black;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      
    
    }
    article h4{
        font-size: 19px;
    }
    
    article p small{
        font-size: 15px;
    }
    
    }


  
  @media  (max-width: 610px){

    header{
        padding: 1% 6%;
    }
    :root{
        
            --bg-font:1rem;
            --p-font:1rem;
            transition: .2s;
        }
        .btn{
            padding: 9px 28px;
           
            text-align: center;
        }
        .home{
            padding: 10% 4%;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .home-text h1{
          /*  font-size: 50px;*/
            text-align: center;
        }
        .home-text h2{
            font-size: 20px;
            text-align: center;
        }
        .home-text p{
            text-align: center;
        }

        .home-img{
            width: 350px;
            height: 450px;
        }
        footer{
            width:100%;
        }
        #section2 .cadre
        {
            position: relative;
            width: 280px;
            height: 320px;
            background-color:var(--bg-color);
            display: flex;
            justify-content: center;
            align-items: center; 
            margin: 40px;
        }
       #section4 .container , #section2 .container-fluid{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        }
      #section4 .container .anime1 ,  #section4 .container .anime2{
            display: inline-block;
            text-align: center;
        }

    
        
      
    
      
        article{
          
          
            width: 300px;
            height: 250px;
           
            border-radius: 10px;
            box-shadow: 1.5px 1.5px 4px 4px black;
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
          
        
        }
        article h4{
            font-size: 19px;
        }
        
        article p small{
            font-size: 15px;
        }
        

        
        
    }
    @media  (max-width: 540px){
        header{
            padding: 1% 0%;
        }
        :root{
            
                --bg-font:0.8rem;
                --p-font:1rem;
                transition: .2s;
            }
            .home{
                padding: 11% 0%;
                margin-top: 8px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .home-text h1{
              /*  font-size: 50px;*/
                text-align: center;
            }
            .home-text h2{
                font-size: 20px;
                text-align: center;
            }
            .home-text p{
                text-align: center;
            }
    
            .home-img{
                width: 300px;
                height: 400px;
            }
            footer{
                width:100%;
            }
            .navbar{
                position: absolute;
                width: 32%;
                height: 300px;
                padding: 50px 10px;
                top:0;
                bottom: 0;
                margin-bottom: 40px;
                right:-100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                font-size: var(--p-font);
                background: #2d2d2d;
                transition: all 0.4s ease-in-out;
            }
         
            .menu-btn
            {
           
             display: flex;
             align-items:  baseline;
            }
            #menu-icon
            {
            cursor: pointer;
            font-size: 50px;
            margin-left: 10px;
            color: var(--main-color);
            z-index: 6;
            }
            .navbar a{
                display: block;
                color: #c3c3c3;
                padding: 0px 0px 8px 0px;
               
                font-weight:300;
            }
        
            .navbar.open{
                right: 0;
            }
            #section2 .cadre
            {
                position: relative;
                width: 220px;
                height: 270px;
                background-color:var(--bg-color);
                display: flex;
                justify-content: center;
                align-items: center; 
                margin: 40px;
            }
            
        }
        @media  (max-width: 490px){
            header{
                padding: 1% 0%;
            }
            :root{
                
                    --bg-font:0.9rem;
                    --p-font:0.7rem;
                    transition: .2s;
                }
                .home{
                    padding: 11% 0%;
                    margin-top: 8px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                .home-text h1{
                   font-size: 50px;
                    text-align: center;
                }
                .home-text h2{
                    font-size: 18px;
                    text-align: center;
                }
                .home-text p{
                    text-align: center;
                    font-size: 12px;
                }
        
                .home-img{
                    width: 250px;
                    height: 300px;
                }
                footer{
                    width:100%;
                }

                /*-----------------------apropos-----*/
                .main .imag{
                    width: 300px;
                    height: 420px;
                }
                .biographie-1{
                
                    font-size: 25px;
                    text-transform: capitalize;
                    margin-bottom: 40px;
                    letter-spacing: 1.5px;
                  text-align: center;
                }
                .biographie-1 span{
                    color: var(--main-color);
                }
                .biographie-2{
                    letter-spacing: 1px;
                    line-height: 20px;
                    font-size: 15px;
                    text-align: left;
                  
                }
                #section2 .cadre
                {
                    position: relative;
                    width: 180px;
                    height: 220px;
                    background-color:var(--bg-color);
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    margin: 40px;
                }

        }
        @media(max-width:325px){
            header{
                padding: 1% 10%;
                max-width: 100%;
              /*  overflow-x: hidden;*/
            }
           
          .navbar{
                position: absolute;
                width: 50%;
                height: 350px;
                padding: 50px 10px;
                top:0;
                bottom: 0;
                margin-bottom: 40px;
                right:-100%;
                display: flex;
                flex-direction: column;
                background: #2d2d2d;
                transition: all 0.4s ease-in-out;
            }
            :root{
                
                    --bg-font:0.7rem;
                    --p-font:0.5rem;
                    transition: .2s;
                }
                .home{
                    padding: 11% 0%;
                    margin-top: 8px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                .home-text h1{
                   font-size: 50px;
                    text-align: center;
                }
                .home-text h2{
                    font-size: 18px;
                    text-align: center;
                }
                .home-text p{
                    text-align: center;
                    font-size: 12px;
                }
        
                .home-img{
                    width: 250px;
                    height: 300px;
                }
                footer{
                   max-width:100%;
                   overflow-x: hidden;
                }

                /*-----------------------apropos-----*/
                .main .imag{
                    width: 300px;
                    height: 420px;
                }
                .biographie-1{
                
                    font-size: 22px;
                    text-transform: capitalize;
                    margin-bottom: 40px;
                    letter-spacing: 1.5px;
                  text-align: center;
                }
                .biographie-1 span{
                    color: var(--main-color);
                }
                .biographie-2{
                    letter-spacing: 1px;
                    line-height: 23px;
                    font-size: 14px;
                    text-align: left;
                  
                }

                /* ------------contact------------------------*/
                .section5{
                    background :var(--bg-color) ;
                    max-width: 100%;
                    overflow-x: hidden;
                    margin-left: 0%;
                    
                }
                .section5 h2{
                   /* width: 100%;*/
                    color: var(--main-color);
                    font-size: 36px;
                    text-align: center;
                    margin-bottom: 20px;
                }
                .container{
                   width: 100%;
                   padding: 30px;
                
                
                
                }

                /*----------------section 2*/
                #section2{
                    width: 100%;
                }
                
                #section2 h2{
                    color: var(--main-color);
                    margin-bottom: 10px;
                }
                
                .LaGrid2 
                {
                   
                    display: flex;
                    justify-content: center;
                    gap: 50px;
                }
                #section2 .cadre
                {
                    position: relative;
                    width: 160px;
                    height: 200px;
                    background-color:var(--bg-color);
                    display: flex;
                    justify-content: center;
                    align-items: center; 
                    margin: 40px;
                }
              
    
        }

    .home-img img{
        animation: imgg 2s ease-in-out infinite;
        animation-delay: 2s;
    }

    @keyframes imgg{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-10px);
        }
        100%{
            transform: translateY(0);
        }
    }


 











    /** possibilite */
/*#possibilite{
    background-color: #ccc6c6;
    padding: 30px 0;
    height: 300px;
    display: flex;
    justify-content: center;
    
    
    
}*/
 